# Frequency of Names

### ~~ Part 2 ~~

In [1]:
import pandas as pd
import numpy as np
import os

## Concanate all files into a DataFrame

In [2]:
# Combine all years (files) in one dataframe
years = range(1880, 2011) #excludes 2011
blobs = []
columns = ['name','sex','births']

for i in years:
    path = '../datasets/babynames/yob%d.txt' % i
    frame = pd.read_csv(path, names=columns)
    frame['year'] = i
    blobs.append(frame)

In [3]:
names = pd.concat(blobs, ignore_index = True)

In [4]:
names

              name sex  births  year
0             Mary   F    7065  1880
1             Anna   F    2604  1880
2             Emma   F    2003  1880
3        Elizabeth   F    1939  1880
4           Minnie   F    1746  1880
...            ...  ..     ...   ...
1690779    Zymaire   M       5  2010
1690780     Zyonne   M       5  2010
1690781  Zyquarius   M       5  2010
1690782      Zyran   M       5  2010
1690783      Zzyzx   M       5  2010

[1690784 rows x 4 columns]

## Last Letter revolution

In [10]:
# Aggregate all the births in the entire data set by year, sex, final letter
get_last_letter = lambda x: x[-1]
last_letters = names.name.map(get_last_letter)
last_letters.name = 'last_letter'

In [13]:
table = names.pivot_table('births', columns=['sex', 'year'], aggfunc=sum)

AttributeError: 'Series' object has no attribute 'columns'

### ~~ End Part 2 ~~