# PANDA DATA STRUCTS

## Series

In [1]:
import pandas as pd # indirect access to methods using pd.
from pandas import Series, DataFrame # direct access in local namespace
import numpy as np

In [2]:
# Series is a 1D ndarray with a col for indecies
obj = Series([-8,4,-2,7])
obj

0   -8
1    4
2   -2
3    7
dtype: int64

In [3]:
obj.values

array([-8,  4, -2,  7])

In [4]:

obj.keys

<bound method Series.keys of 0   -8
1    4
2   -2
3    7
dtype: int64>

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
#  [k:v]
obj[1:2]

1    4
dtype: int64

In [7]:
# access several keys (indicies) and show their values
obj[[0, 3]]

0   -8
3    7
dtype: int64

In [8]:
print(obj * 2)
print(np.exp(obj))
print(obj)

0   -16
1     8
2    -4
3    14
dtype: int64
0       0.000335
1      54.598150
2       0.135335
3    1096.633158
dtype: float64
0   -8
1    4
2   -2
3    7
dtype: int64

In [9]:
# filter for certain values 
obj[obj > 5]

3    7
dtype: int64

### Create a Series from a Dictionary

In [10]:
dic = {'LE' : 3500, 'UL' : 2000, 'MU' : 3000, 'CO' : 1000}
print(dic)
sdic = Series(dic)

{'LE': 3500, 'UL': 2000, 'MU': 3000, 'CO': 1000}

In [23]:
sdic = Series(dic)
sdic # not sure why values have become NaN

LE    3500
UL    2000
MU    3000
CO    1000
dtype: int64

In [27]:
counties = ['LE','UL','MU','CO', 'UNKNOWN'] 
# the indices stick, cannot change LE > Leinster this way, but can add one.
sdic = Series(dic, index=counties)
sdic

LE         3500.0
UL         2000.0
MU         3000.0
CO         1000.0
UNKNOWN       NaN
dtype: float64

In [28]:
sdic.name = 'numbers'
sdic.index.name = 'county'
sdic

county
LE         3500.0
UL         2000.0
MU         3000.0
CO         1000.0
UNKNOWN       NaN
Name: numbers, dtype: float64

In [33]:
# change the indicies 
sdic.index = ['Leinster','Ulster','Munster','Connaught', 'UNKNOWN']
sdic

Leinster     3500.0
Ulster       2000.0
Munster      3000.0
Connaught    1000.0
UNKNOWN         NaN
Name: cases, dtype: float64

### DataFrames

#### Dataframe from equal lenght dic

In [50]:
data = {'state' : ['Leinster','Leinster','Munster','Munster'],
        'year' : [2017, 2018, 2017, 2018],
        'cases' : [1.7, 3.6, 2.4, 2.9]}
data

{'state': ['Leinster', 'Leinster', 'Munster', 'Munster'],
 'year': [2017, 2018, 2017, 2018],
 'cases': [1.7, 3.6, 2.4, 2.9]}

In [54]:
frame = DataFrame(data)
frame

      state  year  cases
0  Leinster  2017    1.7
1  Leinster  2018    3.6
2   Munster  2017    2.4
3   Munster  2018    2.9

In [65]:
frame = DataFrame(data, columns=['year','state','cases'])
frame

   year     state  cases
0  2017  Leinster    1.7
1  2018  Leinster    3.6
2  2017   Munster    2.4
3  2018   Munster    2.9

In [64]:
frame.ix[2]

year        2017
state    Munster
cases        2.4
Name: 2, dtype: object

In [68]:
frame['cases'] = 10
frame

   year     state  cases
0  2017  Leinster     10
1  2018  Leinster     10
2  2017   Munster     10
3  2018   Munster     10

#### Dataframe from nested dic

In [70]:
pop = {'Nevada' : {2001 : 2.4, 2002 : 2.9},
       'Ohio'   : {2000 : 1.5, 2001 : 1.7, 2002 : 1.6}}

{'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 1.6}}

In [73]:
frame3 = DataFrame(pop)
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   1.6   1.5

In [75]:
DataFrame(pop, index=[2000, 2001, 2002, 2003])

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   1.6
2003     NaN   NaN