# DESCRIPTIVE STATISTICS

In [30]:
import pandas as pd # indirect access to methods using pd.
from pandas import Series, DataFrame # direct access in local namespace
import numpy as np

### Statistics, Correlation, Covariance

In [31]:
frame = DataFrame(np.random.randn(4,3), index = ['Ohio','Texas','Oregon','Colorado'], columns=list('bde'))

frame.describe()

              b         d         e
count  4.000000  4.000000  4.000000
mean  -0.042752  0.052719  1.226046
std    0.519648  1.327243  1.075903
min   -0.651736 -1.395155  0.187951
25%   -0.332234 -0.509478  0.380723
50%   -0.043579 -0.105758  1.162671
75%    0.245904  0.456439  2.007994
max    0.567885  1.817545  2.390893

In [32]:
#!pip3 install pandas-datareader
#!pip install pandas-datareader

In [33]:
from pandas_datareader import data as web

In [43]:
all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker, '1/1/2020', '21/3/2020')

all_data

279999  298.809998   85349300.0
 2020-03-03  304.000000  285.799988  303.670013  289.320007   79868900.0
 2020-03-04  303.399994  293.130005  296.440002  302.739990   54794600.0
 2020-03-05  299.549988  291.410004  295.519989  292.920013   46893200.0
 2020-03-06  290.820007  281.230011  282.000000  289.029999   56544200.0
 2020-03-09  278.089996  263.000000  263.750000  266.170013   71686200.0
 2020-03-10  286.440002  269.369995  277.140015  285.339996   71322500.0
 2020-03-11  281.220001  271.859985  277.390015  275.429993   63899700.0
 2020-03-12  270.000000  248.000000  255.940002  248.229996  104618500.0
 2020-03-13  279.920013  252.949997  264.890015  277.970001   92683000.0
 2020-03-16  259.079987  240.000000  241.949997  242.210007   80605900.0
 2020-03-17  257.609985  238.399994  247.509995  252.860001   81014000.0
 2020-03-18  250.000000  237.119995  239.770004  246.669998   75058400.0
 2020-03-19  252.839996  242.610001  247.389999  244.779999   67964300.0
 2020-03-20  251.830002  228.000000  247.179993  229.240005  100257000.0

              Adj Close
 Date
 2020-01-02  299.638885
 2020-01-03  296.725769
 2020-01-06  299.090149
 2020-01-07  297.683533
 2020-01-08  302.472137
 2020-01-09  308.896912
 2020-01-10  309.595215
 2020-01-13  316.209534
 2020-01-14  311.939667
 2020-01-15  310.602844
 2020-01-16  314.493591
 2020-01-17  317.975372
 2020-01-21  315.820465
 2020-01-22  316.947815
 2020-01-23  318.474182
 2020-01-24  317.556335
 2020-01-27  308.218506
 2020-01-28  316.937805
 2020-01-29  323.572052
 2020-01-30  323.103180
 2020-01-31  308.777191
 2020-02-03  307.929199
 2020-02-04  318.095062
 2020-02-05  320.688934
 2020-02-06  324.440002
 2020-02-07  320.029999
 2020-02-10  321.549988
 2020-02-11  319.609985
 2020-02-12  327.200012
 2020-02-13  324.869995
 2020-02-14  324.950012
 2020-02-18  319.000000
 2020-02-19  323.619995
 2020-02-20  320.299988
 2020-02-21  313.049988
 2020-02-24  298.179993
 2020-02-25  288.079987
 2020-02-26  292.649994
 2020-02-27  273.519989
 2020-02-28  273.359985
 2020-03-02  298.809998
 2020-03-03  289.320007
 2020-03-04  302.739990
 2020-03-05  292.920013
 2020-03-06  289.029999
 2020-03-09  266.170013
 2020-03-10  285.339996
 2020-03-11  275.429993
 2020-03-12  248.229996
 2020-03-13  277.970001
 2020-03-16  242.210007
 2020-03-17  252.860001
 2020-03-18  246.669998
 2020-03-19  244.779999
 2020-03-20  229.240005  ,
 'IBM':                   High         Low        Open       Close      Volume  \
 Date
 2020-01-02  135.919998  134.770004  135.000000  135.419998   3148600.0
 2020-01-03  134.860001  133.559998  133.570007  134.339996   2373700.0
 2020-01-06  134.240005  133.199997  133.419998  134.100006   2425500.0
 2020-01-07  134.960007  133.399994  133.690002  134.190002   3090800.0
 2020-01-08  135.860001  133.919998  134.509995  135.309998   4346000.0
 2020-01-09  136.789993  135.309998  135.740005  136.740005   3730600.0
 2020-01-10  137.869995  136.309998  137.000000  136.690002   3255400.0
 2020-01-13  136.639999  135.070007  135.479996  136.600006   3531000.0
 2020-01-14  137.139999  135.550003  136.279999  135.820007   3681000.0
 2020-01-15  138.059998  135.710007  136.000000  136.619995   4045900.0
 2020-01-16  138.190002  137.009995  137.320007  137.979996   4320900.0
 2020-01-17  138.330002  136.160004  136.539993  138.309998   5623300.0
 2020-01-21  139.350006  137.600006  137.809998  139.169998   7244100.0
 2020-01-22  145.789993  142.550003  143.320007  143.889999  16470400.0
 2020-01-23  144.410004  142.149994  144.199997  142.869995   5657800.0
 2020-01-24  143.919998  140.460007  143.389999  140.559998   5580200.0
 2020-01-27  140.070007  138.100006  138.500000  138.619995   4166600.0
 2020-01-28  140.470001  138.750000  139.500000  139.550003   3451600.0
 2020-01-29  139.580002  137.600006  139.169998  137.690002   3053800.0
 2020-01-30  136.970001  134.970001  136.759995  136.770004   5057900.0
 2020-01-31  144.050003  140.789993  142.899994  143.729996  18994600.0
 2020-02-03  147.279999  143.899994  144.250000  146.270004   8887500.0
 2020-02-04  149.380005  146.880005  147.779999  149.110001   5621000.0
 2020-02-05  157.440002  150.149994  150.210007  156.330002  14386800.0
 2020-02-06  158.750000  155.419998  156.820007  156.759995   8400500.0
 2020-02-07  155.539993  152.919998  154.550003  153.410004   6423400.0
 2020-02-10  154.440002  151.580002  152.970001  154.429993   5239800.0
 2020-02-11  155.220001  152.729996  155.119995  153.479996   3835100.0
 2020-02-12  155.600006  153.520004  153.750000  155.309998   4437800.0
 2020-02-13  154.830002  153.410004  154.369995  154.309998   3820700.0
 2020-02-14  154.559998  149.770004  154.419998  150.699997   6099200.0
 2020-02-18  151.380005  149.639999  149.789993  151.100006   3343000.0
 2020-02-19  151.889999  150.309998  151.539993  150.860001   2732900.0
 2020-02-20  151.619995  149.509995  150.809998  151.220001   2880500.0
 2020-02-21  151.039993  148.839996  151.039993  149.839996   3536900.0
 2020-02-24  148.050003  145.380005  145.509995  146.429993   5452400.0
 2020-02-25  147.070007  141.259995  146.509995  141.710007   6211500.0
 2020-02-26  144.059998  139.600006  142.899994  139.750000   5407900.0
 2020-02-27  138.690002  133.009995  137.240005  133.110001   8421100.0
 2020-02-28  131.089996  126.360001  129.979996  130.149994  13012200.0
 2020-03-02  134.440002  127.949997  130.750000  134.300003   8531400.0
 2020-03-03  136.100006  127.800003  134.479996  128.899994   7896100.0
 2020-03-04  134.279999  129.000000  131.580002  134.220001   4996400.0
 2020-03-05  132.289993  128.449997  130.500000  129.550003   5446200.0
 2020-03-06  128.330002  124.519997  126.699997  127.730003   8193300.0
 2020-03-09  122.410004  117.279999  120.160004  117.809998  10757500.0
 2020-03-10  124.879997  115.760002  122.779999  124.769997  11410700.0
 2020-03-11  122.580002  116.379997  121.010002  117.970001   8446500.0
 2020-03-12  109.800003  102.279999  109.650002  102.809998  12512700.0
 2020-03-13  109.160004  100.809998  108.680000  107.949997  12502100.0
 2020-03-16  107.410004   95.000000   98.000000   99.080002  10568000.0
 2020-03-17  107.400002   97.099998  100.610001  106.650002   9258300.0
 2020-03-18  106.930000   99.400002   99.410004  103.550003   8772500.0
 2020-03-19  103.690002   98.239998  102.330002  100.339996   8396500.0
 2020-03-20  100.989998   94.709999  100.919998   95.389999  10543400.0

              Adj Close
 Date
 2020-01-02  134.020538
 2020-01-03  132.951691
 2020-01-06  132.714188
 2020-01-07  132.803253
 2020-01-08  133.911667
 2020-01-09  135.326904
 2020-01-10  135.277420
 2020-01-13  135.188354
 2020-01-14  134.416412
 2020-01-15  135.208130
 2020-01-16  136.554077
 2020-01-17  136.880661
 2020-01-21  137.731781
 2020-01-22  142.403000
 2020-01-23  141.393539
 2020-01-24  139.107422
 2020-01-27  137.187454
 2020-01-28  138.107864
 2020-01-29  136.267075
 2020-01-30  135.356583
 2020-01-31  142.244659
 2020-02-03  144.758408
 2020-02-04  147.569061
 2020-02-05  154.714447
 2020-02-06  155.139999
 2020-02-07  153.410004
 2020-02-10  154.429993
 2020-02-11  153.479996
 2020-02-12  155.309998
 2020-02-13  154.309998
 2020-02-14  150.699997
 2020-02-18  151.100006
 2020-02-19  150.860001
 2020-02-20  151.220001
 2020-02-21  149.839996
 2020-02-24  146.429993
 2020-02-25  141.710007
 2020-02-26  139.750000
 2020-02-27  133.110001
 2020-02-28  130.149994
 2020-03-02  134.300003
 2020-03-03  128.899994
 2020-03-04  134.220001
 2020-03-05  129.550003
 2020-03-06  127.730003
 2020-03-09  117.809998
 2020-03-10  124.769997
 2020-03-11  117.970001
 2020-03-12  102.809998
 2020-03-13  107.949997
 2020-03-16   99.080002
 2020-03-17  106.650002
 2020-03-18  103.550003
 2020-03-19  100.339996
 2020-03-20   95.389999  ,
 'MSFT':                   High         Low        Open       Close      Volume  \
 Date
 2020-01-02  160.729996  158.330002  158.779999  160.619995  22622100.0
 2020-01-03  159.949997  158.059998  158.320007  158.619995  21116200.0
 2020-01-06  159.100006  156.509995  157.080002  159.029999  20813700.0
 2020-01-07  159.669998  157.320007  159.320007  157.580002  21634100.0
 2020-01-08  160.800003  157.949997  158.929993  160.089996  27746500.0
 2020-01-09  162.220001  161.029999  161.839996  162.089996  21385000.0
 2020-01-10  163.220001  161.179993  162.820007  161.339996  20725900.0
 2020-01-13  163.309998  161.259995  161.759995  163.279999  21626500.0
 2020-01-14  163.600006  161.720001  163.389999  162.130005  23477400.0
 2020-01-15  163.940002  162.570007  162.619995  163.179993  21417900.0
 2020-01-16  166.240005  164.029999  164.350006  166.169998  23865400.0
 2020-01-17  167.470001  165.429993  167.419998  167.100006  34371700.0
 2020-01-21  168.190002  166.429993  166.679993  166.500000  29517200.0
 2020-01-22  167.490005  165.679993  167.399994  165.699997  24138800.0
 2020-01-23  166.800003  165.270004  166.190002  166.720001  19680800.0
 2020-01-24  167.529999  164.449997  167.509995  165.039993  24918100.0
 2020-01-27  163.380005  160.199997  161.149994  162.279999  32078100.0
 2020-01-28  165.759995  163.070007  163.779999  165.460007  24899900.0
 2020-01-29  168.750000  165.690002  167.839996  168.039993  34754500.0
 2020-01-30  174.050003  170.789993  174.050003  172.779999  51597500.0
 2020-01-31  172.399994  169.580002  172.210007  170.229996  36142700.0
 2020-02-03  174.500000  170.399994  170.429993  174.380005  30149100.0
 2020-02-04  180.639999  176.309998  177.139999  180.119995  36433300.0
 2020-02-05  184.199997  178.410004  184.029999  179.899994  39186300.0
 2020-02-06  183.820007  180.059998  180.970001  183.630005  27751400.0
 2020-02-07  185.630005  182.479996  182.850006  183.889999  33529100.0
 2020-02-10  188.839996  183.250000  183.580002  188.699997  35844300.0
 2020-02-11  190.699997  183.500000  190.649994  184.440002  53159900.0
 2020-02-12  185.850006  181.850006  185.580002  184.710007  47062900.0
 2020-02-13  186.229996  182.869995  183.080002  183.710007  35295800.0
 2020-02-14  185.410004  182.649994  183.250000  185.350006  23149500.0
 2020-02-18  187.699997  185.500000  185.610001  187.229996  27792200.0
 2020-02-19  188.179993  186.470001  188.059998  187.279999  29997500.0
 2020-02-20  187.250000  181.100006  186.949997  184.419998  36862400.0
 2020-02-21  183.500000  177.250000  183.169998  178.589996  48572600.0
 2020-02-24  174.550003  163.229996  167.770004  170.889999  68311100.0
 2020-02-25  174.839996  167.649994  174.199997  168.070007  68073300.0
 2020-02-26  173.259995  168.210007  169.710007  170.169998  56206100.0
 2020-02-27  167.029999  157.979996  163.320007  158.179993  93174900.0
 2020-02-28  163.710007  152.000000  152.410004  162.009995  97073600.0
 2020-03-02  172.919998  162.309998  165.309998  172.789993  71030800.0
 2020-03-03  175.000000  162.259995  173.800003  164.509995  71677000.0
 2020-03-04  170.699997  165.619995  168.490005  170.550003  49814400.0
 2020-03-05  170.869995  165.690002  166.050003  166.270004  47817300.0
 2020-03-06  163.110001  156.000000  162.610001  161.570007  72821100.0
 2020-03-09  157.750000  150.000000  151.000000  150.619995  70419300.0
 2020-03-10  161.029999  152.580002  158.160004  160.919998  65354400.0
 2020-03-11  157.699997  151.149994  157.130005  153.630005  56371600.0
 2020-03-12  153.470001  138.580002  145.300003  139.059998  93226400.0
 2020-03-13  161.910004  140.729996  147.500000  158.830002  92727400.0
 2020-03-16  149.350006  135.000000  140.000000  135.419998  87905900.0
 2020-03-17  147.500000  135.000000  140.000000  146.570007  81059800.0
 2020-03-18  146.000000  135.020004  138.000000  140.399994  81593200.0
 2020-03-19  150.149994  139.000000  142.770004  142.710007  85922700.0
 2020-03-20  147.100006  135.860001  146.000000  137.350006  84796500.0

              Adj Close
 Date
 2020-01-02  160.182480
 2020-01-03  158.187927
 2020-01-06  158.596817
 2020-01-07  157.150772
 2020-01-08  159.653915
 2020-01-09  161.648468
 2020-01-10  160.900513
 2020-01-13  162.835236
 2020-01-14  161.688370
 2020-01-15  162.735504
 2020-01-16  165.717361
 2020-01-17  166.644836
 2020-01-21  166.046463
 2020-01-22  165.248642
 2020-01-23  166.265869
 2020-01-24  164.590439
 2020-01-27  161.837952
 2020-01-28  165.009308
 2020-01-29  167.582260
 2020-01-30  172.309357
 2020-01-31  169.766296
 2020-02-03  173.904999
 2020-02-04  179.629364
 2020-02-05  179.409958
 2020-02-06  183.129807
 2020-02-07  183.389099
 2020-02-10  188.185989
 2020-02-11  183.937607
 2020-02-12  184.206863
 2020-02-13  183.209595
 2020-02-14  184.845123
 2020-02-18  186.720001
 2020-02-19  187.279999
 2020-02-20  184.419998
 2020-02-21  178.589996
 2020-02-24  170.889999
 2020-02-25  168.070007
 2020-02-26  170.169998
 2020-02-27  158.179993
 2020-02-28  162.009995
 2020-03-02  172.789993
 2020-03-03  164.509995
 2020-03-04  170.550003
 2020-03-05  166.270004
 2020-03-06  161.570007
 2020-03-09  150.619995
 2020-03-10  160.919998
 2020-03-11  153.630005
 2020-03-12  139.059998
 2020-03-13  158.830002
 2020-03-16  135.419998
 2020-03-17  146.570007
 2020-03-18  140.399994
 2020-03-19  142.710007
 2020-03-20  137.350006  ,
 'GOOG':                    High          Low         Open        Close   Volume  \
 Date
 2020-01-02  1368.140015  1341.550049  1341.550049  1367.369995  1406600
 2020-01-03  1372.500000  1345.543945  1347.859985  1360.660034  1186400
 2020-01-06  1396.500000  1350.000000  1350.000000  1394.209961  1732300
 2020-01-07  1402.989990  1390.380005  1397.939941  1393.339966  1502700
 2020-01-08  1411.579956  1390.839966  1392.079956  1404.319946  1528000
 2020-01-09  1427.329956  1410.270020  1420.569946  1419.829956  1500900
 2020-01-10  1434.928955  1418.349976  1427.560059  1429.729980  1820700
 2020-01-13  1440.520020  1426.020020  1436.130005  1439.229980  1652300
 2020-01-14  1441.800049  1428.369995  1439.010010  1430.880005  1558900
 2020-01-15  1441.395020  1430.209961  1430.209961  1439.199951  1282700
 2020-01-16  1451.989990  1440.920044  1447.439941  1451.699951  1173700
 2020-01-17  1481.295044  1458.219971  1462.910034  1480.390015  2396200
 2020-01-21  1491.849976  1471.199951  1479.119995  1484.400024  2036700
 2020-01-22  1503.213989  1484.930054  1491.000000  1485.949951  1610800
 2020-01-23  1495.520020  1482.099976  1487.640015  1486.650024  1351200
 2020-01-24  1495.494995  1465.250000  1493.589966  1466.709961  1784600
 2020-01-27  1438.069946  1421.199951  1431.000000  1433.900024  1755200
 2020-01-28  1456.000000  1432.469971  1443.000000  1452.560059  1577400
 2020-01-29  1465.430054  1446.739990  1458.800049  1458.630005  1077700
 2020-01-30  1457.280029  1436.400024  1439.959961  1455.839966  1339400
 2020-01-31  1470.130005  1428.530029  1468.900024  1434.229980  2417200
 2020-02-03  1490.000000  1458.989990  1462.000000  1485.939941  3055200
 2020-02-04  1469.500000  1426.300049  1457.069946  1447.069946  3933000
 2020-02-05  1463.839966  1430.560059  1462.420044  1448.229980  1986200
 2020-02-06  1482.000000  1449.569946  1450.329956  1476.229980  1679400
 2020-02-07  1485.839966  1466.349976  1467.300049  1479.229980  1172300
 2020-02-10  1509.500000  1474.319946  1474.319946  1508.680054  1419900
 2020-02-11  1529.630005  1505.637939  1511.810059  1508.790039  1344600
 2020-02-12  1520.694946  1508.109985  1514.479980  1518.270020  1167600
 2020-02-13  1527.180054  1504.599976  1512.689941  1514.660034   929500
 2020-02-14  1520.739990  1507.339966  1515.599976  1520.739990  1197800
 2020-02-18  1531.630005  1512.589966  1515.000000  1519.670044  1120700
 2020-02-19  1532.105957  1521.400024  1525.069946  1526.689941   949300
 2020-02-20  1529.640015  1506.819946  1522.000000  1518.150024  1096600
 2020-02-21  1512.214966  1480.439941  1508.030029  1485.109985  1731700
 2020-02-24  1436.969971  1411.390015  1426.109985  1421.589966  2867100
 2020-02-25  1438.140015  1382.400024  1433.000000  1388.449951  2478300
 2020-02-26  1415.699951  1379.000000  1396.140015  1393.180054  2202400
 2020-02-27  1371.703979  1317.170044  1362.060059  1318.089966  2978300
 2020-02-28  1341.140015  1271.000000  1277.500000  1339.329956  3790600
 2020-03-02  1390.869995  1326.814941  1351.609985  1389.109985  2431500
 2020-03-03  1410.150024  1332.000000  1399.420044  1341.390015  2402300
 2020-03-04  1388.089966  1343.109985  1359.229980  1386.520020  1913300
 2020-03-05  1358.910034  1305.099976  1350.199951  1319.040039  2561300
 2020-03-06  1306.219971  1261.050049  1277.060059  1298.410034  2660600
 2020-03-09  1254.760010  1200.000000  1205.300049  1215.560059  3365400
 2020-03-10  1281.150024  1218.770020  1260.000000  1280.390015  2611400
 2020-03-11  1260.959961  1196.069946  1249.699951  1215.410034  2608500
 2020-03-12  1193.869995  1113.300049  1126.000000  1114.910034  4226700
 2020-03-13  1219.760010  1117.142944  1179.000000  1219.729980  3700100
 2020-03-16  1152.266968  1074.439941  1096.000000  1084.329956  4252400
 2020-03-17  1130.859985  1056.010010  1093.109985  1119.800049  3861500
 2020-03-18  1106.500000  1037.280029  1056.510010  1096.800049  4233400
 2020-03-19  1157.969971  1060.108032  1093.050049  1115.290039  3651100
 2020-03-20  1143.989990  1065.489990  1135.719971  1072.319946  3600300

               Adj Close
 Date
 2020-01-02  1367.369995
 2020-01-03  1360.660034
 2020-01-06  1394.209961
 2020-01-07  1393.339966
 2020-01-08  1404.319946
 2020-01-09  1419.829956
 2020-01-10  1429.729980
 2020-01-13  1439.229980
 2020-01-14  1430.880005
 2020-01-15  1439.199951
 2020-01-16  1451.699951
 2020-01-17  1480.390015
 2020-01-21  1484.400024
 2020-01-22  1485.949951
 2020-01-23  1486.650024
 2020-01-24  1466.709961
 2020-01-27  1433.900024
 2020-01-28  1452.560059
 2020-01-29  1458.630005
 2020-01-30  1455.839966
 2020-01-31  1434.229980
 2020-02-03  1485.939941
 2020-02-04  1447.069946
 2020-02-05  1448.229980
 2020-02-06  1476.229980
 2020-02-07  1479.229980
 2020-02-10  1508.680054
 2020-02-11  1508.790039
 2020-02-12  1518.270020
 2020-02-13  1514.660034
 2020-02-14  1520.739990
 2020-02-18  1519.670044
 2020-02-19  1526.689941
 2020-02-20  1518.150024
 2020-02-21  1485.109985
 2020-02-24  1421.589966
 2020-02-25  1388.449951
 2020-02-26  1393.180054
 2020-02-27  1318.089966
 2020-02-28  1339.329956
 2020-03-02  1389.109985
 2020-03-03  1341.390015
 2020-03-04  1386.520020
 2020-03-05  1319.040039
 2020-03-06  1298.410034
 2020-03-09  1215.560059
 2020-03-10  1280.390015
 2020-03-11  1215.410034
 2020-03-12  1114.910034
 2020-03-13  1219.729980
 2020-03-16  1084.329956
 2020-03-17  1119.800049
 2020-03-18  1096.800049
 2020-03-19  1115.290039
 2020-03-20  1072.319946  }

In [40]:
price = DataFrame({tic: data['Adj Close'] for tic, data in all_data.items()})
volume = DataFrame({tic: data['Volume'] for tic, data in all_data.items()})
price.tail()
#volume.tail()

                  AAPL         IBM        MSFT         GOOG
Date
2020-03-16  242.210007   99.080002  135.419998  1084.329956
2020-03-17  252.860001  106.650002  146.570007  1119.800049
2020-03-18  246.669998  103.550003  140.399994  1096.800049
2020-03-19  244.779999  100.339996  142.710007  1115.290039
2020-03-20  229.240005   95.389999  137.350006  1072.319946

In [36]:
returns = price.pct_change()
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2020-03-16 -0.128647 -0.082168 -0.147390 -0.111008
2020-03-17  0.043970  0.076403  0.082337  0.032712
2020-03-18 -0.024480 -0.029067 -0.042096 -0.020539
2020-03-19 -0.007662 -0.031000  0.016453  0.016858
2020-03-20 -0.063486 -0.049332 -0.037559 -0.038528

### Correlation, Covariance

In [47]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.415332  0.448265  0.488683
IBM   0.415332  1.000000  0.509167  0.418298
MSFT  0.448265  0.509167  1.000000  0.511653
GOOG  0.488683  0.418298  0.511653  1.000000

In [45]:
returns.AAPL.corr(returns.GOOG)

0.48868269284372773

In [48]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000656  0.000175  0.000223  0.000196
IBM   0.000175  0.000270  0.000162  0.000111
MSFT  0.000223  0.000162  0.000376  0.000165
GOOG  0.000196  0.000111  0.000165  0.000367

In [46]:
returns.AAPL.cov(returns.GOOG)

0.0001962382219475666