# HIERARCHICAL INDEXING

In [12]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

## INDEXING SERIES

In [13]:
data = Series(np.random.randn(10), index=[['a','a','a','b','b','b','c','c','d','d'], [1,2,3,1,2,3,1,2,2,3]])
data

a  1    1.014536
   2   -0.640747
   3    1.456328
b  1    2.197509
   2   -0.319185
   3    0.530555
c  1    0.683313
   2    1.902026
d  2    0.160519
   3   -0.958346
dtype: float64

In [14]:
print(data.index)
print(data['b'])
print(data.ix[['b', 'd']])

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )
1    2.197509
2   -0.319185
3    0.530555
dtype: float64
b  1    2.197509
   2   -0.319185
   3    0.530555
d  2    0.160519
   3   -0.958346
dtype: float64

In [19]:
data.unstack().stack()

a  1    1.014536
   2   -0.640747
   3    1.456328
b  1    2.197509
   2   -0.319185
   3    0.530555
c  1    0.683313
   2    1.902026
d  2    0.160519
   3   -0.958346
dtype: float64

## INDEXING DATAFRAME

In [22]:
frame = DataFrame(np.arange(12).reshape((4,3)), 
                  index=[['a','a','b','b'], [1,2,1,2]],
                  columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [23]:
frame.index

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [24]:
frame.index.names = ['k1', 'k2'] # indices run horizontally
frame

       Ohio     Colorado
      Green Red    Green
k1 k2
a  1      0   1        2
   2      3   4        5
b  1      6   7        8
   2      9  10       11

In [26]:
frame.columns.names = ['state', 'color']
frame

state  Ohio     Colorado
color Green Red    Green
k1 k2
a  1      0   1        2
   2      3   4        5
b  1      6   7        8
   2      9  10       11

In [27]:
frame['Ohio']

color  Green  Red
k1 k2
a  1       0    1
   2       3    4
b  1       6    7
   2       9   10

In [30]:
frame.swaplevel('k1', 'k2')

state  Ohio     Colorado
color Green Red    Green
k2 k1
1  a      0   1        2
2  a      3   4        5
1  b      6   7        8
2  b      9  10       11

In [42]:
frame.sort_values(by='k2', ascending=False)

state  Ohio     Colorado
color Green Red    Green
k1 k2
a  2      3   4        5
b  2      9  10       11
a  1      0   1        2
b  1      6   7        8