# Analyse Trees across Europe

In [4]:
import pandas as pd
import numpy as np

In [5]:
path_species = 'EUForestspecies.csv'
path_genus  = 'EUForestgenus.csv'

In [7]:
df_species = pd.read_csv(path_species)
df_species.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588983 entries, 0 to 588982
Data columns (total 10 columns):
X               588983 non-null int64
Y               588983 non-null int64
COUNTRY         588983 non-null object
SPECIES NAME    588983 non-null object
DBH-1           588983 non-null int64
DBH-2           588983 non-null int64
NFI             588983 non-null int64
FF              588983 non-null int64
BS              588983 non-null int64
EEO             588983 non-null int64
dtypes: int64(8), object(2)
memory usage: 44.9+ MB

In [8]:
df_genus = pd.read_csv(path_genus)
df_genus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589657 entries, 0 to 589656
Data columns (total 4 columns):
X             589657 non-null int64
Y             589657 non-null int64
COUNTRY       589657 non-null object
Genus name    589657 non-null object
dtypes: int64(2), object(2)
memory usage: 18.0+ MB