# HTML AND WEB APIs

In [44]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

## HTML

In [45]:
# lxml.de parses very large files
import requests
import json
from lxml.html import parse
from urllib.request import urlopen

In [46]:
parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
doc = parsed.getroot()
doc

In [47]:
 links = doc.findall('.//a')
 links[:5]
 lnk = links[28]
 lnk.get('href')

'/quote/AAPL200327C00170000?p=AAPL200327C00170000'

In [48]:
lnk.text_content()

'AAPL200327C00170000'

In [49]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['/watchlists',
 '/portfolios',
 '/screener',
 '/premium?ncid=navbarprem_fqbo1nu0ks0',
 '/calendar',
 '/news/',
 'https://money.yahoo.com',
 '/videos/',
 '/industries',
 '/tech']

In [53]:

# Dublin weather
url = 'https://prodapi.metweb.ie/monthly-data/Dublin%20Airport'
resp = requests.get(url)
resp

In [54]:
data = json.loads(resp.text)
data.keys()

dict_keys(['station', 'up_to', 'total_rainfall', 'mean_temperature', 'soil_temperature', 'solar_radiation', 'potential_evapotranspiration', 'evaporation', 'degree_days_below_fiften_point_five_degrees_celsius'])

In [56]:
names = ['station', 'total_rainfall']
indx = ['station']
df = DataFrame(data, columns=names)
df

               station                                     total_rainfall
report  Dublin Airport  {'2020': {'january': '36.0', 'february': '130....