# INTERACTING WITH DATABASES

In [23]:
import sqlite3
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [24]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER
);"""

query

'\nCREATE TABLE test\n(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER\n);'

In [25]:
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [26]:
con.execute('select * from test').fetchall()

[]

In [27]:
stmt = "INSERT INTO test VALUES(?,?,?,?)"

data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallhassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

In [28]:
con.executemany(stmt, data)
con.commit()

In [31]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallhassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [32]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))