# HIERACHICAL INDEXING

In [14]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [15]:
sdata = Series(['aardvark', 'artichoke', 'avocado', np.nan,  None])
sdata

0     aardvark
1    artichoke
2      avocado
3          NaN
4         None
dtype: object

In [16]:
sdata.isnull()

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [17]:
cleaned = sdata.dropna()
cleaned

0     aardvark
1    artichoke
2      avocado
dtype: object

In [18]:
df = DataFrame(np.random.randn(7,3))
df.ix[:4,1] = np.nan
df.ix[:2,2] = np.nan
df

          0         1         2
0 -0.192204       NaN       NaN
1 -1.071186       NaN       NaN
2  0.354511       NaN       NaN
3  0.670731       NaN -0.355758
4 -0.186911       NaN  0.556277
5 -1.638847  1.126889 -0.175484
6 -2.077592 -0.760589  0.640849

In [19]:
df.dropna(thresh=3)

          0         1         2
5 -1.638847  1.126889 -0.175484
6 -2.077592 -0.760589  0.640849

In [20]:
df.fillna(0.)

          0         1         2
0 -0.192204  0.000000  0.000000
1 -1.071186  0.000000  0.000000
2  0.354511  0.000000  0.000000
3  0.670731  0.000000 -0.355758
4 -0.186911  0.000000  0.556277
5 -1.638847  1.126889 -0.175484
6 -2.077592 -0.760589  0.640849

In [21]:
df.fillna({1: 0.5, 2: 0.8})

          0         1         2
0 -0.192204  0.500000  0.800000
1 -1.071186  0.500000  0.800000
2  0.354511  0.500000  0.800000
3  0.670731  0.500000 -0.355758
4 -0.186911  0.500000  0.556277
5 -1.638847  1.126889 -0.175484
6 -2.077592 -0.760589  0.640849

In [22]:
df

          0         1         2
0 -0.192204       NaN       NaN
1 -1.071186       NaN       NaN
2  0.354511       NaN       NaN
3  0.670731       NaN -0.355758
4 -0.186911       NaN  0.556277
5 -1.638847  1.126889 -0.175484
6 -2.077592 -0.760589  0.640849

In [23]:
_ = df.fillna(0, inplace=True)

In [24]:
df

          0         1         2
0 -0.192204  0.000000  0.000000
1 -1.071186  0.000000  0.000000
2  0.354511  0.000000  0.000000
3  0.670731  0.000000 -0.355758
4 -0.186911  0.000000  0.556277
5 -1.638847  1.126889 -0.175484
6 -2.077592 -0.760589  0.640849

In [25]:
df = DataFrame(np.random.randn(7,3))
df.ix[:4,1] = np.nan
df.ix[:2,2] = np.nan
df

          0         1         2
0  0.788129       NaN       NaN
1 -0.696667       NaN       NaN
2 -0.613801       NaN       NaN
3  0.529427       NaN -0.021886
4 -1.464682       NaN  0.224934
5  0.927576  1.804449  0.004140
6  0.298825 -0.024735  0.651585

In [26]:

df.fillna(df.mean())

          0         1         2
0  0.788129  0.889857  0.214693
1 -0.696667  0.889857  0.214693
2 -0.613801  0.889857  0.214693
3  0.529427  0.889857 -0.021886
4 -1.464682  0.889857  0.224934
5  0.927576  1.804449  0.004140
6  0.298825 -0.024735  0.651585

Cool!